@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --main-background-color: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --header-background: hsl(217, 28%, 15%);
    --header-text: #949494;
    --header-text-hover: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: var(--main-background-color);
}

header {
    background-image: url(../Images/illustration-intro.png);
    background-color: var(--header-background);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh; 
    padding: 20px 16px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar img {
    width: 90px;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 4px;
}


#nav-list a {
    text-decoration: none;
    color: var(--header-text);
    padding: 6px;
}

#nav-list a:hover {
    cursor: pointer;
    color: var(--header-text-hover);
}

main {
    background-image: url(../Images/bg-curvy-mobile.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--main-background-color);
    height: 100vh;
}